@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-finance-bg text-finance-text font-sans;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
